<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
        <%= form_for Url.new do |f|%>
            <div class="input-group">
              <%= f.text_field :long, placeholder: 'Paste your link', class: 'form-control short-input' %>
              <span class="input-group-btn">
                <%= f.submit 'Make short!', class: 'btn short-btn' %>
              </span>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
