/* ==== URL SHORTENER MAIN CONTAINER ==== */

.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  background: #999999 asset-url('main/head.jpg') no-repeat center;
  background-size: cover;

  @mixin default-input {
    height: 60px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  }
  .short-input {
    @include default-input;
    color: #7f898e;

    &:focus {
      color: #ee6123;
      background-color: #fef7f4;
      border: none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #ee6123;
    }
  }

  #copy-url {
    display: none;
  }

  .short-btn {
    @include default-input;
    color: #fff;
    background-color: #ee6123;
    width: 120px;
  }
}
